# client_icegrid.config

# 1. Dónde está el cerebro de IceGrid (Registry)
Ice.Default.Locator=IceGrid/Locator:tcp -h 127.0.0.1 -p 4061

# 2. Definimos los nombres de los objetos que tu código va a buscar.
#    Al no poner puertos (-p ...), Ice preguntará al Locator dónde están.
MediaServer.Proxy=mediaServer1
MediaRender.Proxy=mediaRender1

# (Opcional) Tiempos de espera un poco más largos por si IceGrid tarda en despertar los nodos
Ice.Override.ConnectTimeout=2000
Ice.Override.Timeout=2000