# Configuración del Registry y del Locator
IceGrid.Registry.Client.Endpoints=tcp -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp

# --- CORRECCIÓN AQUÍ ---
# En versiones modernas de Ice, se usa LMDB en vez de Data
IceGrid.Registry.LMDB.Path=db/registry
# -----------------------

IceGrid.Registry.PermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.DynamicRegistration=1